h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.navigation {
  min-width: 320px;
  height: 56px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
  padding: 16px;
}
.logo {
  font-family: Raleway;
  width: 115px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo:hover {
  color: #404bbf;
}
.logo:focus {
  color: #404bbf;
}
.logo:active {
  color: #404bbf;
  text-decoration: underline;
}
.logo-studio-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-burger {
  width: 24px;
  height: 24px;
}
.burger-close {
  width: 24px;
  height: 24px;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-close-svg {
  fill: #2e2f42;
  border: none;
}
.burger-close > .burger-close-svg:hover {
  background-color: #fff;
  fill: #404bbf;
}
.burger-close > .burger-close-svg:focus {
  background-color: #fff;
  fill: #404bbf;
}
.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  margin-right: 149px;
}
.menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -25px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.contacts-adress {
  display: flex;
  flex-direction: column;
}
.adress-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
}
.adress-link:hover {
  color: #404bbf;
}
.adress-link:active {
  color: #404bbf;
}
.business {
  min-width: 320px;
  height: 432px;
  background-color: #2e2f42;
  display: flex;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center;
  padding: 72px 52px;
}
.main-cover {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  width: 216px;
  height: 160px;
  margin-bottom: 72px;
}
.business-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.business-button {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  justify-content: center;
  align-items: center;
  border: none;
}
.company {
  min-width: 320px;
  height: 888px;
  background-color: #ffffff;
  padding: 96px 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.company-container {
  width: 288px;
  height: 696px;
  display: flex;
}
.order-company {
  width: 288px;
  height: 696px;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.about {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-svg {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}
.team {
  min-width: 320px;
  height: 2232px;
  background-color: #f4f4fd;
  padding: 96px 28px;
}
.team-container {
  display: flex;
  flex-direction: column;
}
.about-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 72px;
}
.list-order {
  width: 264px;
  height: 1928px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.order {
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 104px;
  margin: 32px 16px;
  gap: 8px;
}
.list-team {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.person-svg {
  width: 232px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.order-svg {
  width: 40px;
  height: 40px;
}
.link-team-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team-social:hover {
  background-color: #404bbf;
}
.link-team-social:focus {
  background-color: #404bbf;
}
.social-svg {
  fill: #f4f4fd;
}
.portfolio-header {
  min-width: 320px;
  height: 2944px;
  padding: 96px 16px;
}
.portfolio-cont {
  width: 288px;
  height: 2752px;
  display: flex;
  flex-direction: column;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.portfolio-list-order {
  width: 288px;
  height: 400px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.list-app {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}
.list-app-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-order:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-app:hover .list-app-text {
  transform: translateY(0%);
}
.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 288px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.portfolio-cover {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  min-width: 320px;
  height: 664px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  padding: 96px 16px;
}
.container-footer {
  gap: 72px;
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 472px;
}
.container-logo {
  width: 288px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer:hover {
  color: #404bbf;
}
.logo-footer:focus {
  color: #404bbf;
}
.logo-footer:active {
  color: #404bbf;
  text-decoration: underline;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.container-social {
  width: 208px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.list-social {
  width: 208px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}
.order-list-social {
  width: 40px;
  height: 40px;
}
.social-footer-svg {
  fill: #ffffff;
}
.link-footer-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer-social:hover {
  background-color: #31d0aa;
}
.link-footer-social:focus {
  background-color: #31d0aa;
}
.container-subscribe {
  width: 288px;
  height: 136px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 288px;
  height: 96px;
}
.email-form {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}
.button-subscribe {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  flex-direction: row;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  background-color: #4d5ae5;
  margin: auto;
}
.subscribe-footer-svg {
  fill: #f4f4fd;
  margin-left: 16px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-name {
  margin-bottom: 8px;
}
.label-user-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-name-container {
  position: relative;
}
.input-user-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-user-name:focus-within {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
input:focus + .user-name-svg {
  fill: #4d5ae5;
}
.user-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-comment {
  margin-bottom: 16px;
}
.textarea-comment {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus-within {
  border-color: #4d5ae5;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 10px;
}
input:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-svg {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.link-checkbox {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}
.button-submit {
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin: auto;
  padding: 16px 32px;
}
.modal-overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-menu {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  overflow-y: auto;
}
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-menu-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  justify-content: space-between;
  gap: 168px;
}
.menu-list-burger {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 151px;
  height: 200px;
}
.nav-link-burger {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link-burger:hover {
  color: #404bbf;
}
.nav-link-burger:active {
  color: #404bbf;
}
.current-burger {
  position: relative;
  color: #404bbf;
}
.current-burger::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.adress-list-burger {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 193px;
  height: 72px;
  margin-bottom: 48px;
}
.adress-link-burger {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.adress-link-burger:hover {
  color: #404bbf;
}
.adress-link-burger.logo:active {
  color: #404bbf;
}
.list-social-burger {
  width: 272px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.order-list-social-burger {
  width: 40px;
  height: 40px;
}
.link-footer-social-burger {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer-social-burger:hover {
  background-color: #404bbf;
}
.link-footer-social-burger:focus {
  background-color: #404bbf;
}
@media (min-width: 768px) {
  .menu-burger {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .navigation {
    min-width: 768px;
    height: 72px;
  }
  .container-menu {
    width: 736px;
    height: 40px;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    margin-right: 121px;
  }
  .business {
    min-width: 768px;
    height: 436px;
    padding: 112px 136px;
  }
  .main-cover {
    width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 36px;
  }
  .company {
    min-width: 768px;
    height: 504px;
    padding: 96px 16px;
  }
  .company-container {
    width: 736px;
    height: 312px;
  }
  .order-company {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 736px;
    height: 312px;
  }
  .about {
    text-align: start;
  }
  .list-company {
    width: 356px;
    height: 120px;
  }
  .team {
    min-width: 768px;
    height: 1224px;
    padding: 96px 108px;
  }
  .list-order {
    width: 552px;
    height: 920px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .portfolio-header {
    min-width: 768px;
    height: 1708px;
  }
  .portfolio-cont {
    width: 736px;
    height: 1516px;
  }
  .portfolio-list {
    width: 736px;
    height: 1404px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-order {
    width: 356px;
    height: 420px;
  }
  .list-app {
    width: 356px;
    height: 300px;
  }
  .portfolio-container {
    width: 356px;
    height: 120px;
  }
  .footer {
    min-width: 768px;
    height: 456px;
    padding: 96px 164px 96px 108px;
  }
  .container-footer {
    width: 496px;
    height: 264px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .container-logo {
    width: 264px;
    height: 112px;
    align-items: flex-start;
  }
  .container-social {
    align-items: flex-start;
  }
  .container-subscribe {
    width: 453px;
    height: 80px;
    align-items: flex-start;
    margin: 0;
  }
  .form-label-subscribe {
    width: 264px;
    height: 40px;
  }
  .subscribe-form {
    width: 453px;
    height: 40px;
    flex-direction: row;
    column-gap: 24px;
  }
  .email-form {
    width: 264px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .navigation {
    min-width: 1158px;
  }
  .container-menu {
    width: 1128px;
    height: 24px;
    margin: 0 auto;
  }
  .logo {
    margin-right: 76px;
  }
  .menu {
    margin-right: 332px;
  }
  .adress-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 344px;
  }
  .adress-link {
    font-size: 16px;
  }
  .business {
    min-width: 1158px;
    height: 600px;
    padding: 188px 0;
  }
  .business-container {
    margin: 0 auto;
  }
  .main-cover {
    margin-bottom: 48px;
  }
  .company {
    min-width: 1128px;
    height: 464px;
    padding: 120px 0;
  }
  .company-container {
    width: 1128px;
    height: 224px;
    margin: 0 auto;
  }
  .order-company {
    width: 1128px;
    height: 224px;
  }
  .list-company {
    width: 264px;
    height: 224px;
  }
  .about {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-text {
    font-weight: 400;
  }
  .team {
    min-width: 1128px;
    height: 780px;
    padding: 120px 156px;
  }
  .team-container {
    align-items: center;
  }
  .list-order {
    width: 1128px;
    height: 428px;
  }
  .portfolio-header {
    min-width: 1128px;
    height: 1240px;
    padding: 120px 0;
  }
  .portfolio-cont {
    width: 1128px;
    height: 1000px;
    margin: 0 auto;
  }
  .portfolio-list {
    width: 1128px;
    height: 888px;
    row-gap: 48px;
  }
  .portfolio-list-order {
    width: 360px;
    height: 420px;
  }
  .list-app {
    width: 360px;
    height: 300px;
  }
  .portfolio-container {
    width: 360px;
    height: 120px;
  }
  .footer {
    min-width: 1158px;
    height: 312px;
    padding: 100px 0 100px 0;
  }
  .container-footer {
    width: 1125px;
    height: 112px;
    margin: 0 auto;
    gap: 0;
  }
  .container-logo {
    margin-right: 120px;
  }
  .container-social {
    margin: 0 80px 0 0;
  }
}
@media (max-width: 767px) {
  .visually-hidden-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media (max-width: 1157px) {
  .visually-hidden-company {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media (min-resolution: 192dpi) {
  .business {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
